.main-timeline {
    position: relative;
}

.main-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #6d9189;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline {
    margin: 10% 0;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #3bba9c;
    border: 5px solid #3bba9c;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.card {
    border: 0px !important;
    background-color: #bfc8d0 !important;
    border-radius: 15px !important;
    color: #3c3f58 !important;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mb-0 {
    font-weight: 300;
}

.pos {
    font-weight: 400;
}

.left {
    padding: 0px 40px 20px 0px;
    left: 0;
}

.right {
    padding: 0px 0px 20px 40px;
    left: 50%;
}

.left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid #3bba9c;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #bfc8d0;
}

.right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid #3bba9c;
    border-width: 10px 10px 10px 0;
    border-color: transparent #bfc8d0 transparent transparent;
}

.right::after {
    left: -12px;
}

@media screen and (max-width: 600px) {

    .main-timeline::after {
        left: 31px;
    }

    .timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline::before {
        left: 60px;
        border: medium solid #3bba9c;
        border-width: 10px 10px 10px 0;
        border-color: transparent #bfc8d0 transparent transparent;
    }

    .left::after,
    .right::after {
        left: 18px;
    }

    .left::before {
        right: auto;
    }

    .right {
        left: 0%;
    }
}